* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}


button {
    font-size: 1.4;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: brown;
}

button:hover {
    background-color: rgb(130, 20, 20);
}

.color-acento {
    color: brown;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 5px 5px;
    font-weight: bold;
    color: brown;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

header a {
    padding: 20px 12px;
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

header a:hover {
    color: brown;
}

#hero button {
    font-size: 1.75em;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 700px;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#iniciapro {}

#iniciapro.container {
    text-align: center;
    padding: 200px 12px;
}

#nuestrocampus .textn {
    align-items: center;
}

#nuestrocampus {
    background-color: brown;
    text-align: center;
    padding: 40px 0px;
}

#nuestrocampus .container {}

#nuestrocampus h2 {
    margin-top: 0px;
    font-size: 2.75em;
    color: bisque;
}

#nuestrocampus p {
    display: none;
}

#nuestrocampus .carta {
    background-position: center center;
    background-size: cover;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    color: white;

}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/child1.jpg");
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/child2.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/child3.jpg");
}


.carta:nth-child(4) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/child4.jpg");
}

.carta:nth-child(5) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/child5.jpg");
}

.carta:nth-child(6) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/child6.jpg");
}

#caracteristicas .container {
    text-align: center;
    background-color: rgb(245, 245, 245);
}

#caracteristicas li {
    margin: 12px 0px;
    font-weight: bold;
    padding: 50px 5px;
}

#visitanos h2 {
    font-size: 9vw;
}

#visitanos button {
    font-size: 5vw;
}

#visitanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: brown;
    color: rgb(255, 255, 181);
    height: 80vh;

}

footer {
    background-color: brown;
}

footer p {
    max-resolution: 0px;
    color: rgb(150, 150, 150);
    padding: 12px;
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 20px;
    }

    #iniciapro .container {
        display: flex;
        justify-content: center;
       justify-content: center;
    }

    #iniciapro .texto {
        width: 90%;
        max-width: 800px;
        text-align: initial;
        padding: 0px 70px;
        display: flex;
        flex-direction: column;
        text-align: justify;
       
    }

    #iniciapro .imagecontainer {
        background-image: url("/historia.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 600px;
        margin-block-end: 70px;
        margin-block-start: 150px;
        
    }

    #nuestrocampus .secciones {
        display: flex;
        justify-content: center;
    }

    #nuestrocampus p {
        display: block;
        margin-bottom: 10px;
        align-self: unset;
    }

    #nuestrocampus h3 {
        margin-top: 0;
    }

    #nuestrocampus .carta {
   padding: 20px;
    }


    #caracteristicas .container {
        display: flex;
        justify-content: center;
    }

    #caracteristicas .textof {
        width: 60%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #caracteristicas .imagcontainer {
        background-image: url("/carta.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 500px;
        margin-block-end: 50px;
        margin-top: 40px;
    }

    #actividades .imagcontainer{
        background-image: url("/actividades.jpg");
        background-size: cover;
        background-position: center center;
        height: 489px;
        width: 900px;
        background-repeat: no-repeat;
        margin-block-end: 50px;
        margin-top: 40px;
        margin-left: 150px;
    }
    #vivienda .container {
        display: flex;
        justify-content: center;
        text-align: justify;
    }

    #vivienda .textof {
        width: 60%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }
    #vivienda .imagcontainer{
        background-image: url("/vivienda.jpg");
        background-size: cover;
        background-position: center center;
        height: 489px;
        width: 900px;
        background-repeat: no-repeat;
        margin-block-end: 50px;
        margin-top: 90px;
        margin-left: 150px;
    }

}